nav{
    padding-left: 10%;
    padding-right: 10%;
    background-color: #fdfafc;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.link-container {
    display: flex;
    gap: 20px;
    font-weight: 600;
    font-size: 16px;

}

.nav-container h2 {
    font-weight: 800;
    font-size: 32px;
}

.link-container a:hover{
    color: blue;

}

.all-Btn {
    background: rgb(126, 126, 252);
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 10px;
}

.all-Btn:hover{
    background: rgb(131, 29, 247);
}

.stromColor{
    color: rgb(126, 126, 252);
}

.link-container a{
    text-decoration: none;
}


@media only screen and (max-width: 896px) {

    nav{
        padding-left: 2%;
        padding-right: 2%;
       
    }

    .nav-container {
        display: inline;
        text-align: center;
    }

    .link-container {
        display: flex;
        font-weight: 600;
        font-size: 16px;
        margin-left: 10%;
    
    }

    .all-Btn {
      margin-top: 10px;
      margin-left: 30%;
    }

}

