.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfafc;
    padding-left: 10%;
    padding-right: 10%;
}

.headerContainer div {
    max-width: 500px;
}

.headerContainer h1 {
    font-weight: 800;
    font-size: 70px;
    
}

.paragraph {
    font-weight: 500;
    font-size: 16px;
    color: #757575;
    margin-bottom: 20px;
}

.headerContainer img {
    max-width: 500px;
    border-radius: 10px;
}